# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/lib/firebase_options.dart
debug.keystore

# ビルドされたファイルとディレクトリ
**/build/
**/ios/DerivedData/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# Dartの一時ファイル
.dart_tool/

# Flutterの一時ファイル
**/flutter_export_environment.sh

# パッケージの依存関係
ios/Pods/
.pub-cache/
.pub/
pubspec.lock

# 個人の開発環境設定
.idea/
.vscode/

# 一時ファイルやキャッシュ
*.jks
*.bak
*.swp

# Firebaseの設定ファイル
**/google-services.json
**/GoogleService-Info.plist

# Cloud Functionsの依存関係
**/functions/node_modules/

# OS生成ファイル
.DS_Store
Thumbs.db